.team-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border: 10px solid black;
}